/* FORM STYLES */
.user-form {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    padding: 1rem;

    background-color: rgba(54, 54, 54, 0.8);
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    /* border-left: 1px solid rgb(68, 67, 67); */

    display: flex;
    flex-direction: column;

    justify-content: start;
    align-items: center;
}

.user-form input {
    border: none;
    padding: .4rem;
    border-radius: .5rem;
    width: 8rem;
}

.user-form label {
    padding-bottom: 1rem;
    color: white;
}

.btn {
    padding: .3rem .6rem;
    margin-top: .5rem;
    border: none;
    border-radius: .5rem;
    cursor: pointer;
    font-size: .7rem;
}

.temp-and-wind {
    border-bottom: 1px solid rgb(199, 190, 190);
    padding: .5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.temperature {
    font-size: 3rem;
    color: rgb(240, 240, 240);   
}

.feels-like {
    color: rgb(224, 224, 224);
    font-size: .8rem;
    padding-bottom: 1rem;
}

.wind, 
.wind-direction {
    /* display: block; */
    color: rgb(241, 241, 241);
    font-size: .8rem;
    text-align: center;
}

.next-days {
    list-style-type: none;
}

.next-days p {
    padding: 1.5rem 0;
    text-align: center;
    color: rgb(243, 243, 243);
}

/* END OF FORM STYLES */