@import url('./css/hourlyForecast.css');
@import url('./css/form.css');

/* RESET STYLES */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'sans-serif';
}

/* END OF RESET STYLES */

body {
    background-color: rgb(101, 129, 165);

    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}



/* CONTAINER STYLES */
.container {
    width: 90vw;
    height: 90vh;
    display: grid;
    grid-template-columns: repeat(2, 2fr, 1fr);
    grid-template-rows: repeat(2, 2fr, 1fr);

    border: 1px solid orange;  
    border-radius: 1rem;
}

/* END OF CONTAINER STYLES */



.date-time {
    grid-row: 1/2;
    grid-column: 1 / 2;
    font-size: 2rem;
    justify-self: end;
    align-self: start;
}

.condition {
    grid-row: 1 / 2;
    grid-column: 1/ 2;

    font-size: 4rem;
    justify-self: end;
    align-self: end;
    color: rgb(255, 255, 255);
}

